AbbTest2/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55764/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AbbTest2.Models" />
  <xs:element name="GetMeasures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AbbTest2.Models" minOccurs="0" name="GetMeasuresResult" nillable="true" type="q1:ArrayOfMeasure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>